<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
					   	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
					    http://www.springframework.org/schema/aop 
					    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
					    http://www.springframework.org/schema/tx 
					    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
					    http://www.springframework.org/schema/context      
					    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- Proxool数据库连接池 -->
	<bean id="dataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="driver" value="com.mysql.jdbc.Driver"></property>
		<property name="driverUrl"
			value="jdbc:mysql://localhost/eshop?useUnicode=true&amp;characterEncoding=utf-8"></property>
		<property name="user" value="root"></property>
		<property name="password" value="1209"></property>
		<property name="alias" value="eshop"></property>
		<property name="prototypeCount" value="0"></property>
		<property name="maximumConnectionCount" value="200"></property>
		<property name="minimumConnectionCount" value="1"></property>
		<property name="simultaneousBuildThrottle" value="50"></property>
		<property name="houseKeepingTestSql" value="select CURRENT_DATE"></property>
	</bean>

	<!-- 采用自动装配的方式配置Hibernate -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="schemaUpdate">
			<value>true</value>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/rhwayfun/eshop/user/entity/Userdetail.hbm.xml</value>
				<value>com/rhwayfun/eshop/user/entity/User.hbm.xml</value>
				
				<value>com/rhwayfun/eshop/admin/user/entity/Adminuser.hbm.xml</value>
				<value>com/rhwayfun/eshop/admin/user/entity/Seller.hbm.xml</value>
				
				<value>com/rhwayfun/eshop/category/entity/Category.hbm.xml</value>
				<value>com/rhwayfun/eshop/category/entity/Categorysecond.hbm.xml</value>
				
				<value>com/rhwayfun/eshop/product/entity/Product.hbm.xml</value>
				
				<value>com/rhwayfun/eshop/orders/entity/Orderitem.hbm.xml</value>
				<value>com/rhwayfun/eshop/orders/entity/Orders.hbm.xml</value>
			</list>
		</property>
	</bean>

	<!-- ACTION -->
	<bean id="indexAction" class="com.rhwayfun.eshop.user.action.IndexAction"
		scope="prototype">
		<property name="categoryService" ref="categoryService"></property>
		<property name="productService" ref="productService"></property>
	</bean>
	<bean id="userAction" class="com.rhwayfun.eshop.user.action.UserAction"
		scope="prototype">
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="productAction" class="com.rhwayfun.eshop.product.action.ProductAction" scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>
	<bean id="cartAction" class="com.rhwayfun.eshop.cart.action.CartAction" scope="prototype">
		<property name="productService" ref="productService"></property>
	</bean>
	<bean id="orderAction" class="com.rhwayfun.eshop.orders.action.OrderAction" scope="prototype">
		<property name="orderService" ref="orderService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	<bean id="adminUserAction" class="com.rhwayfun.eshop.admin.user.action.AdminUserAction" scope="prototype">
		<property name="adminUserService" ref="adminUserService"></property>
	</bean>
	<bean id="adminCategoryAction" class="com.rhwayfun.eshop.admin.category.action.AdminCategoryAction" scope="prototype">
		<property name="adminCategoryService" ref="adminCategoryService"></property>
	</bean>
	<bean id="categorySecondAction" class="com.rhwayfun.eshop.admin.categorysecond.action.CategorySecondAction" scope="prototype">
		<property name="categorySecondService" ref="categorySecondService"></property>
		<property name="categoryService" ref="adminCategoryService"></property>
	</bean>
	<bean id="adminProductAction" class="com.rhwayfun.eshop.admin.product.action.AdminProductAction" scope="prototype">
		<property name="adminProductService" ref="adminProductService"></property>
		<property name="categorySecondService" ref="categorySecondService"></property>
	</bean>
	<bean id="adminOrderAction" class="com.rhwayfun.eshop.admin.order.action.AdminOrderAction" scope="prototype">
		<property name="adminOrderService" ref="adminOrderService"></property>
	</bean>
	<bean id="sellerAction" class="com.rhwayfun.eshop.admin.user.action.SellerAction" scope="prototype">
		<property name="adminUserService" ref="adminUserService"></property>
	</bean>

	<!-- SERVICE -->
	<bean id="userService" class="com.rhwayfun.eshop.user.service.impl.UserService">
		<property name="userDAO" ref="userDAO"></property>
	</bean>
	<bean id="productService" class="com.rhwayfun.eshop.product.service.impl.ProductService">
		<property name="productDAO" ref="productDAO"></property>
	</bean>
	<bean id="categoryService" class="com.rhwayfun.eshop.category.service.impl.CategoryService">
		<property name="categoryDAO" ref="categoryDAO"></property>
	</bean>
	<bean id="orderService" class="com.rhwayfun.eshop.orders.service.impl.OrderService">
		<property name="orderDAO" ref="orderDAO"></property>
	</bean>
	<bean id="adminUserService" class="com.rhwayfun.eshop.admin.user.service.impl.AdminUserService">
		<property name="adminUserDAO" ref="adminUserDAO"></property>
	</bean>
	<bean id="adminCategoryService" class="com.rhwayfun.eshop.admin.category.service.impl.AdminCategoryService">
		<property name="adminCategoryDAO" ref="adminCategoryDAO"></property>
	</bean>
	<bean id="categorySecondService" class="com.rhwayfun.eshop.admin.categorysecond.service.impl.CategorySecondService">
		<property name="categorySecondDAO" ref="categorySecondDAO"></property>
	</bean>
	<bean id="adminProductService" class="com.rhwayfun.eshop.admin.product.service.impl.AdminProductService">
		<property name="adminProductDAO" ref="adminProductDAO"></property>
	</bean>
	<bean id="adminOrderService" class="com.rhwayfun.eshop.admin.order.service.impl.AdminOrderService">
		<property name="adminOrderDAO" ref="adminOrderDAO"></property>
	</bean>

	<!-- DAO -->
	<bean id="userDAO" class="com.rhwayfun.eshop.user.dao.impl.UserDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="categoryDAO" class="com.rhwayfun.eshop.category.dao.impl.CategoryDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="productDAO" class="com.rhwayfun.eshop.product.dao.impl.ProductDAO">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="orderDAO" class="com.rhwayfun.eshop.orders.dao.impl.OrderDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="adminUserDAO" class="com.rhwayfun.eshop.admin.user.dao.impl.AdminUserDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="adminCategoryDAO" class="com.rhwayfun.eshop.admin.category.dao.impl.AdminCategoryDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="categorySecondDAO" class="com.rhwayfun.eshop.admin.categorysecond.dao.impl.CategorySecondDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="adminProductDAO" class="com.rhwayfun.eshop.admin.product.dao.impl.AdminProductDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="adminOrderDAO" class="com.rhwayfun.eshop.admin.order.dao.impl.AdminOrderDAO">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- 使用事务管理器 -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
</beans>